# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# C extensions
*.o
*.a
*.d

# Rust/Cargo specific files
/target/
/Cargo.lock

# IDE specific files
.vscode/
.idea/
.DS_Store

# Output files
output.bmp
